:root {
  --gris: #3b3a3c;
  --marron: #887379;
  --gris: #7c797c;
  --marron_oscuro: #473e3f;
  --gris_oscuro:#2e2f28;
  --gris_claro: #5d5d55;
  --verde: #75db5c;
  --negro: #060a07;
  --verde_claro: #ddead2;
  --blanco: #fff;
}



*{
  margin: 0;
  padding: 0;
}

#mobile{
  display: none;
}

#second-line-burguer{
  display: none;
}


nav{
  height: 200px;
  width: 100%;
  background-color: var(--gris);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.first-line{
  height: 100px;
  width: 100%;
  background-color: var(--blanco);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-nav{
  box-sizing: border-box;
  max-width: 360px;
  height: 70px;
  display: flex;
  font-family: 'Oxygen', sans-serif;

}

.info-phone a{
  text-decoration: none;
}

.logo-imagen{
  aspect-ratio: 1890 / 355;
  overflow: hidden;
  width: 100%;
}

.container-nav img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100px !important;
  padding-bottom: 5px;
}

.logo p{
  font-family: 'Raleway', sans-serif;
}

.info{
  justify-content: center;
}

.phone{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  box-sizing: border-box;
}

.phone div{
  margin: 5px;
}

.info-contacto{
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.info-contacto div{
  margin: 5px;
}

.info-phone{
  height: 70px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.icon-phone{
  height: 50px;
  width: 25px;
  text-align: center;
  display: flex;
  align-items: center;

}
.mail-info{
  font-weight: 700;
}
.number-info{
  color: var(--gris_claro);
}

.icon-phone i{
  font-size: 32px;
  color: #87ca87;
}


.select_lg{
  display: flex;
  flex: 1;
  height: 70px;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
.text-languaje, .icon-language{
  font-size: 20px;
}

.text-languaje{
  font-size: 20px;
  margin: 3px;
}

.icon-language{
  color: var(--verde);
}

.text-languaje{
  color: var(--gris);
}

/*second-line*/
#second-line{
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  background-color: var(--verde_claro);
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  /* border-top: 2px solid var(--verde); */
}

.nav-section{
  max-width: 150px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
}

.nav-section p{
  font-size: 22px;
  color: var(--marron);
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Oxygen', sans-serif; */
}
.nav-section a{
  text-decoration: none;
  font-size: 22px;
  color: var(--marron);
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
}


/*INICIO*/


.inicio{
  width: 100%;
  background-color: black;
  display: flex;
  margin: 0;  
}
.inicio-wrapper-image{
  width: 70%;
  background-color: var(--verde);
  margin: 0;  /* Asegura que no haya márgenes en el contenedor de la imagen */
  

}

.inicio-wrapper-image img{
  background-size: cover;
  aspect-ratio:  807 / 504;
  height: auto;
  padding: 0;
  opacity: 0.8;
  width: 100%;
  background-position: center;
  display: block;  /* Elimina espacios adicionales en la parte inferior del elemento img */
  background-repeat: no-repeat;
}

.inicio-text{
  /* position: absolute;
  top: 200px;
  right: 0; */
  width: 30%;
  background-color: #172c12;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.inicio-text-image{
  margin-top: 20px;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  background-color: none;
  height: auto;
  object-fit: contain;
  align-items: center;
}

.inicio-text-image img{
  width: 100%;
  background-size: cover;
  aspect-ratio:  807 / 504;
  background-position: center;
  background-repeat: no-repeat;

  /* opacity: 0.75; */
}

.inicio-text-title{
  width: 80%;
  height: auto;
  line-height: 55px;
  /* background-color: red; */
  margin-top: 40px;
  border-bottom: var(--verde) 15px solid;
  box-sizing: border-box;
  padding-right: 5px;
}

.inicio-text-title h2{
  color: var(--blanco);
  font-size: 42px;
  height: auto;
  /* background-color: saddlebrown; */
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Oxygen', sans-serif; */

}

@media screen and (max-width: 1356px){
  .inicio-text-title h2{
    font-size: 32px;
  }
  .inicio-text-title{
    width: 100%;
  }
}


@media screen and (max-width: 1190px){
  .inicio-text-title h2{
    font-size: 25px;
  }
  .inicio-text-title{
    width: 100%;
    line-height: 45px;
  }

  .inicio-text-title{
    border-bottom: var(--verde) 10px solid;
  }
  
}
@media screen and (max-width: 1000px){
  .inicio-text-title h2{
    font-size: 25px;
  }
  .inicio-text-title{
    width: 100%;
    line-height: 38px;
  }

  .inicio-text-title{
    border-bottom: var(--verde) 10px solid;
  }
  
}

@media screen and (max-width: 890px){
  .inicio-text-title h2{
    font-size: 21px;
  }
  .inicio-text-title{
    width: 100%;
    line-height: 30px;
  }

  .inicio-text-title{
    border-bottom: var(--verde) 7px solid;
  }
  
}

@media screen and (max-width: 780px){
  .inicio-text-title h2{
    font-size: 20px;
  }
  .inicio-text-title{
    width: 100%;
    line-height: 27px;
  }

  .inicio-text-title{
    border-bottom: var(--verde) 7px solid;
  }
  
}



@media screen and (max-width: 700px){
  html{
    overflow: hidden;
  }

  body {
    overflow-x: hidden;
  }
  


  .phone-active{
    width: 50% !important;
  }

  .info-contacto{
    justify-content: space-evenly !important;
  }

  .info-phone{
    flex:1;
  }

  #second-line{
    display: none;
  }

  #second-line-burguer{
    display: flex;
  }

  .first-line{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
  }
  .info, .logo{ 
    width: 100%;
    max-width: none;
  }
  .info{
    background-color: var(--verde_claro);
    height: 100px;
  }

  .logo-imagen{
    aspect-ratio: 1890 / 355;
    overflow: hidden;
    height: 100px;
    width: auto; /*Joya!*/
  }

  #mobile{
    display: block;
    padding: 10px;
    opacity: 1;
    border-radius: 5px;
    min-width: 40px;
    max-height: 40px;
    font-size: 28px;
    text-align: center;
  }
  #second-line-burguer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 200px; /* Ajusta la posición según tus necesidades */
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    box-sizing: border-box;
    background-color: var(--verde_claro);
    box-shadow: 0 5px 7.5px var(--verde_claro);
    padding: 40px 0 120px 10px;
    height: 100vh;
    max-width: 100%;
    min-width: 100%;
    z-index: 1;
    overflow: hidden;
  }
  
  #second-line-burguer.active {
    transform: translateX(0);
  }
  
  html.menu-active {
    overflow-x: hidden; /* Evitar el desplazamiento horizontal en el cuerpo del documento cuando el menú está activo */
    width: 100%;
  }

  .phone-active{
    width: 70%;
  }
  .select_lg{
    max-width: 15%;
    box-sizing: border-box;
    height: 70px;
  }

  .info-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #second-line{
    display: none;
  }
  .nav-section{
    color: var(--verde_claro);
  }
  .nav-section p{
    color: var(--verde_claro);
  }
  .nav-section a{
    color: var(--negro);
    text-decoration: none;
  }

  .logo-imagen-section{
    background-size: contain;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    width:auto;
  }

  .logo-imagen-section img{
    height: 100%;
    width: 100%;
  }

  .nav-section-burguer{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 25px;
    height: auto;
    width: 100%;
  }

  #img-banner{
    background: linear-gradient(to right, var(--verde_claro) 0%, var(--blanco) 29%,var(--blanco) 40%, var(--blanco) 65%,var(--verde_claro) 100%);
    max-height: 30%;
    min-height: 190px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    box-sizing: border-box;
  }
  #img-banner{
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  #img-banner p{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--marron_oscuro);
  }

  #img-banner img{
    opacity: 0.1;
    transition: opacity linear 3s; /* Corrección: "transform" debe ser "transition" */
  }
  
  #img-banner.active img{
    opacity: 1;
  }
  
}

@media screen and (max-width: 435px){
  .phone-active{
    display: none;
  }
  .info-contacto{
    display: flex;
    justify-content: space-evenly;
  }
  .nav{
    overflow: hidden;
  }
}

@media screen and (max-height:835px){
  .nav-section-burguer{
    display: flex;
    justify-content: start !important;
    height: 100%;
    box-sizing: border-box;
  }
  .nav-section{
    max-height: 15% !important;
    box-sizing: border-box;
  }
  .nav-section p{
    font-size: 18px;
  }
}

@media screen and (max-height:680px){

  #second-line-burguer{
    top: 100px;
    z-index: -1;
  }

  .nav-section-burguer{
    display: flex;
    justify-content: start !important;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    top: 100px;
    position: absolute;
  }

  #second-line-burguer{
    overflow: hidden;
  }

  .nav-section a{
    font-size: 18px;
  }

  #img-banner{
    display: none;
  }

  .nav-section{
    max-height: 15% !important;
    box-sizing: border-box;
  }
  .nav-section p{
    font-size: 18px;
  }
}

@media screen and (max-height:536px){
  .nav-section{
    height: auto;
  }
  .nav-section-burguer{
    justify-content: center !important;
    top: 0;
  }

  .nav-section{
    max-height: 15% !important;
    box-sizing: border-box;
    margin: 5px;
  }

  .nav-section a{
    font-size: 20px;
  }
}




@media screen and (max-height:416px){
  .nav-section{
    max-height: 15% !important;
    box-sizing: border-box;
    padding-top: 5px;
  }
  .nav-section a{
    font-size: 16px;
  }
  .nav-section-burguer{
    justify-content: center !important;
    top: 10px;

  }
}

